@font-face{
    font-family:"Lato" ;
    src: url(/fonts/Lato/Lato-Bold.ttf);
    // src: url(/fonts/gothambold/gothambold1.eot);
    // src: url(/fonts/gothambold/GOT.ttf);
}
@font-face{
    font-family:"LatoReg" ;
    src: url(/fonts/Lato/Lato-Regular.ttf);
    // src: url(/fonts/gothambold/gothambold1.eot);
    // src: url(/fonts/gothambold/GOT.ttf);
}
