$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1025px
) !default;

$colorNav:#717171;
$colortitle:#12c2e9;
$backgrHeadBtn:#d30036;
$colorburger:white;
$backgrReviews:#222222;
$backDotsReviews:#12c2e9;
$contactColor:#bdc3c7;